@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {

    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    text-align: center;
}

a {
    color: crimson;
    text-decoration-style: none;
    display: inline;
    text-align: center;

}

a:visited {
    color: rgb(0, 252, 21);
    text-decoration-style: unset;

}

a:hover {
    background-color: hotpink;
}

h1 {
    color:rgb(58, 148, 31);
    text-align:center;
    font-weight: 900;
    font-size: 2em;
}

h2 {
    color:rgb(0, 252, 21);
    text-align:center;
    font-size: 3em;
}

h4 {
    color:rgb(188, 241, 126);
    text-align:center;
    font-weight: 900;
    font-size: large;
    font-size: 2em;
}
p {
    color:rgb(255, 255, 255);
    text-align:center;
    font-weight: 900;
    font-size: 1em;
}

body {
    font-family: 'Roboto';
    background-color: black;
}

#contact {
    color: firebrick;
    font-weight: bold;
}

.price {
    color: orangered;
    font-weight: bold;
    font-style: italic;

}

#menu {
    background-color: rgb(5, 32, 23);
    border-style: solid;
    border-color: aquamarine orangered;
    border-width: 3px;
    margin: 0em auto;
    width: 25%;
    height: 3em;
    line-height: 3em;
    box-sizing: border-box;
}

.special {
    color: brown;
}

ul {
    color: aqua;
    margin: auto;
    width: 35%;
}