* {
    /* CSS Reset*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(50, 50, 50);
}

#btnGroupDrop1 {
    color: black;
    background-color: forestgreen;
}

.dropdown-menu {
    background-color: rgb(84, 155, 84);
}

.butoane {
    padding: 1em;
    display: flex;
    justify-content: flex-start;
}

nav.navbar {
    width: 100vw;
    height: 20vh;
}

.navbar {
    padding: 0;
}

.navbar .container-fluid .navbar-brand {
    color:rgb(0, 0, 0);
    font-size: 2.5em;
}

.navbar .container-fluid {
    margin: 0;
    height: 20vh;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(153, 255, 153);
}

.navbar-expand {
    background-color: rgb(84, 155, 84);
}

.carduri {
    display: flex;
    justify-content: space-around;
}

.carduri .card {
    display: flex;
    background-color: rgb(50, 50, 50);
    border: 0;
    border-collapse: 0;
    opacity: 75%;
}

.carduri .card:hover {
    opacity: 100%;
}

.carduri .card .btn {
    border: 0px;
    padding: 1em;
    width: 10em;
    color: green;
    background-color: black;
}