* {
    /* CSS Reset*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(173, 252, 173);
}

#btnGroupDrop1 {
    color: black;
    background-color: forestgreen;
}

.dropdown-menu {
    background-color: rgb(84, 155, 84);
}

.butoane {
    padding: 1em;
    display: flex;
    justify-content: flex-start;
}

nav.navbar {
    width: 100vw;
    height: 20vh;
}

.navbar {
    padding: 0;
}

.navbar .container-fluid .navbar-brand {
    color:rgb(0, 0, 0);
    font-size: 2.5em;
}

.navbar .container-fluid {
    margin: 0;
    height: 20vh;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(153, 255, 153);
}

.navbar-expand {
    background-color: rgb(84, 155, 84);
}

.carduri {
    display: flex;
    justify-content: space-around;
}

.carduri .card-body {
    height: 12vh;
    display: flex;
    background-color: rgb(173, 252, 173);
}