@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&family=Amatic+SC:wght@700&display=swap');

* {
    /* CSS Reset*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    height: 4em;
}

#navbarNav {
    display: flex;
    justify-content: flex-end;
}

.navbar-light .navbar-nav .nav-link {
    font-family: "Alegreya";
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 700;
    color: rgba(0,0,0,.25);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.90);
}

#background {
    background-image: url("bg-header.jpg");
    background-size: cover;
    height: 100vh;
    /*parallax effect*/
    background-attachment: fixed;
}

nav.navbar {
    position: fixed;
    width: 100vw;
    opacity: 0.9;
}

h1 {
    font-family: "Amatic SC";
    font-weight: 700;
    font-size: 3.5em;
    text-align: center;
}

h1 span {
    display: block;
}

h1 span:first-child {
    color: rgba(55,182,171);  
    font-size: 0.8em; 
}

h1 span:first-child::before, h1 span:first-child::after {
    content: "-";
}


h1 span:last-child {
    color: rgba(246, 175, 72)
}

p {
    font-family: "Alegreya";
    font-size: 1.3em;
}

#ambiance {
    background-image: url("ambiance.jpg");
    background-size: cover;
    height: 80vh;
}